<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        .nav{
            background:#3a3a3a;
            height:65px;
        }
        ul{
            overfolw:hidden;
        }
        ul li{
            float:left;
            list-style:none;
            padding:0 10px;
            line-height:65px;
        }
        ul li a{
            color:#fff
        }
    </style>
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="#">home page</a></li>
        <li><a href="#">q&a</a> </li>
    </ul>
</div>

{% block main %}{% endblock %}

</body>
</html>